<h1>Listing sprojects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Budget</th>
    <th>Date</th>
    <th>Spend</th>
    <th>Note</th>
    <th>Amtremaining</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sprojects.each do |sproject| %>
  <tr>
    <td><%= sproject.name %></td>
    <td><%= sproject.budget %></td>
    <td><%= sproject.date %></td>
    <td><%= sproject.spend %></td>
    <td><%= sproject.note %></td>
    <td><%= sproject.amtremaining %></td>
    <td><%= link_to 'Show', sproject %></td>
    <td><%= link_to 'Edit', edit_sproject_path(sproject) %></td>
    <td><%= link_to 'Destroy', sproject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sproject', new_sproject_path %>
